html,
body{
  height: 100%;
}
#cover{
  background: #222 url('img/stars.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
}
form {
  justify-content: center;
}
.col-sm-offset-1{
  text-align: center;
}
